asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.1
distlib==0.3.5
Django==4.1
django-phonenumber-field==6.3.0
filelock==3.8.0
idna==3.3
packaging==21.3
phonenumberslite==8.12.54
Pillow==9.2.0
platformdirs==2.5.2
pyparsing==3.0.9
requests==2.28.1
setuptools-git==1.2
setuptools-scm==7.0.5
soupsieve==2.3.2.post1
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.3.0
tzdata==2022.2
urllib3==1.26.12
